body {
    font-family: Arial;
    background-image:url('circuit.jpg');
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

* { margin: 0;}

header {
    background-image: linear-gradient(to bottom right, rgba(255,255,255,.8), rgba(255,0,0,.8));
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    position: sticky;
    top: 0;
}

header h1 {
    line-height: 200%;
    font-size: 4em;
}

header h2 {
    padding: 10px;
}

main h2 {
    background-image: linear-gradient(to right, rgba(128,128,128,.8), rgba(255,255,255,.8));
    text-align: center;
    cursor: pointer;
    line-height: 200%;
    color: white;
}

main h2:hover {
    background-color: lightgrey;
    /*transition: 4ms;*/
  }

/* === === === ACCORDION BEGIN === === === */
section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* === === === ACCORDION END === === === */

a {
    background-color: rgba(255,255,255,.8);
    display: block;
    text-align: center;
    color: black;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: orange;
    color: white;
}

a:visited {
    background-color: grey;
    color: white;
}

@media (min-width: 768px){
    body {
        width: 60%;
        margin: auto;
    }
}