body {
    font-family: Arial;
    background-color:rgb(60, 60, 60);
    color: white;
}

h3 {
    background-color: grey;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

a:hover {
    background-color: orange;
    color: white;
}

@media (min-width: 768px){
    body {
        width: 60%;
        margin: auto;
    }
}