body {
    font-family: Arial;
    background-image:url('laserwallp.jpg');
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

* { margin: 0;}

h1 {
    line-height: 200%;
    /*background: rgba(255,255,255,.8);*/
    background-image: linear-gradient(to right, white, red);
    color: black;
    text-align: center;
    position: sticky;
    top: 0;
}

h3 {
    /*background-color: grey;*/
    background-image: linear-gradient(to right, grey, white);
    line-height: 200%;
    text-indent: 1em;
}

a {
    background-color: rgba(255,255,255,.8);
    display: block;
    text-align: center;
    color: black;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: orange;
    color: white;
}

section {
    overflow: auto;
}

.left {
    width: 45%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}

@media (min-width: 768px){
    body {
        width: 60%;
        margin: auto;
    }
}