body {
    font-family: Arial;
    background-image:url('graphicb.jpg');
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

h1,h3 {
    margin: 0;
    text-indent: 1em;
    line-height: 200%;
}

h1 {
    /*background: rgba(255,255,255,.8);*/
    background-image: linear-gradient(to right, white, grey);
    color: black;
}

h3 {
    background-image: linear-gradient(grey, red);
}

a {
    text-decoration: none;
    color: red;
}
a:hover {
    background-color: orange;
    color: white;
}

p, ul, ol {
    background-color: rgba(255,255,255,.8);
    text-align: justify;
    padding-bottom: 1em;
    margin: 0;
    color: rgb(0,12,51);
}

p { padding: 1em; }

li { padding-bottom: 1em; }

@media (min-width: 768px){
    body {
        width: 60%;
        margin: auto;
    }
}