body {
    font-family: Arial;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

* { margin: 0;}

/* ALOLDAL HEADER BEGIN */
header {
    background-image: linear-gradient(to bottom right, rgb(255,0,0), rgba(255,255,255,.8));
    position: sticky;
    top: 0;
    /*padding: 2em 2em;*/
}

h1 {
    color: white;
    text-align: center;
    padding: 1em 1em;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    text-align: left;
}

h2 {
    padding: 1em;
    background-image: linear-gradient(to right, white, grey);
    color: black;
    text-align: center;
}
/* ALOLDAL HEADER END */

h3 {
    background-image: linear-gradient(grey, red);
    padding: 1em;
}

a {
    text-decoration: none;
    color: red;
}
a:hover {
    background-color: orange;
    color: white;
}

p, ul, ol {
    background-color: rgba(255,255,255,.8);
    text-align: justify;
    color: rgb(0,12,51);
    padding: 1em; /*ez azért kell, mert különben kis méretnél a bekezdésben lévő szöveg sem kap paddinget!*/
}

li {
    line-height: 2em;
    margin-left: 2em;
}

iframe {
    width: 100%;
}

@media (min-width: 768px){
    body {
        width: 60%;
        margin: auto;
    }

    p, ul, ol {
        padding: 1em;
    }

    iframe {
        display: block;
        margin:auto;
        width: 560px;
    }
}