body {
    font-family: Arial;
    background-image:url('laserwallp.jpg');
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

* { margin: 0; }

header {
    background-image: linear-gradient(to bottom right, rgba(255,255,255,.8), rgba(255,0,0,.8));
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
}

header h1 {
    line-height: 200%;
    font-size: 4em;
}

header h2 {
    padding: 10px;
}

main h2 {
    line-height: 200%;
    background-image: linear-gradient(to right, rgba(255,0,0,.8), rgba(255, 127, 80, .8));
    color: white;
    top: 0;
    text-align: center;
    cursor: pointer;
}

main h2:hover {
    background-color: lightsalmon;
    transition: 4ms;
}

h3 {
    background-image: linear-gradient(to right, grey, white);
    line-height: 200%;
    text-indent: 1em;
}

/* === === === ACCORDION BEGIN === === === */
section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* === === === ACCORDION END === === === */

a {
    background-color: rgba(255,255,255,.8);
    display: block;
    text-align: center;
    color: black;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: orange;
    color: white;
}

/*
a:visited {
    background-color: grey;
    color: white;
}
*/

/* === === FOOTER BEGIN === === */
/*
footer {
}
*/
/* === === FOOTER END === === */

@media (min-width: 768px){
    body {
        width: 60%;
        margin: auto;
    }
    .bal {
        float: left;
        width: 49%;
        margin-bottom: 1em;
    }
    .jobb {
        float: right;
        width: 49%;
        margin-bottom: 1em;
    }
}